#I'm using AWS beanstalk to host a php/symphony application. I would like to properly configure apache regarding the machine size, currently t2.small, ie. 1 core, 2 GB RAM, which is pretty small
# https://stackoverflow.com/questions/34911639/configure-apache-mpm-in-beanstalk-for-a-php-symfony-site
files:
  "/etc/httpd/conf.modules.d/00-mpm.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        LoadModule mpm_worker_module modules/mod_mpm_worker.so
        ServerLimit         512
        StartServers        100
        MaxRequestWorkers   256
        MinSpareThreads     100
        MaxSpareThreads     300
        ThreadsPerChild     25
