files:
  "/etc/php.d/52-fscache.ini":
      mode: "000755"
      owner: root
      group: root
      content: |
        [PHP]
        realpath_cache_size = 128M
        realpath_cache_ttl = 120

  "/etc/php-5.6.d/10-opcache.ini":
      mode: "00644"
      content: |
        zend_extension=opcache.so
        opcache.enable=1
        opcache.memory_consumption=256
        opcache.interned_strings_buffer=32
        opcache.max_accelerated_files=100000
        ;opcache.max_wasted_percentage=5
        opcache.use_cwd=0
        opcache.revalidate_freq=0
        opcache.revalidate_path=0
        opcache.blacklist_filename=/etc/php-5.6.d/opcache*.blacklist
        opcache.consistency_checks=0


  "/etc/php.d/51-upload.ini":
      mode: "000644"
      content: |
        post_max_size = 100M
        upload_max_filesize = 10M

  "/etc/php-fpm-5.6.d/www.conf":
      mode: "000644"
      content: |
        [www]
        user = webapp
        group = webapp
        listen = 127.0.0.1:9000
        listen.allowed_clients = 127.0.0.1
        ;process.priority = -15
        pm = static
        pm.max_children = 30
        pm.max_requests = 500
        php_admin_value[error_log] = /var/log/php-fpm/5.6/www-error.log
